<% if current_user && current_user.admin? %>
  <h4>Enter any 3 symptoms</h4>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@symptom) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.submit "Create Symptom", class: "btn btn-primary" %>
      <% end %><br />
      <%= link_to 'Enter another symptom', new_symptom_path %>
      <%=link_to 'Enter a treatment', new_treatment_path %>
    </div>
  </div>
<% end %>
